<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circle.expense.team.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.circle.expense.team.entity.Team">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DESCRIPTION" property="description" />
        <result column="BELONG" property="belong" />
        <result column="DELETED" property="deleted" />
        <result column="CREATED_DATE" property="createdDate" />
    </resultMap>

</mapper>
